body {
    display: flex;
    justify-content: center;
}

form {
    width: 800px;
}

.container {
    max-width: 1440px;
    display: flex;
}

.answers {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}